{{!-- <form action="/private" method="POST" id="login-form">
    <div class="group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username" required autocomplete="off" />
    </div>

    <div class="group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required autocomplete="off" />
    </div>

    <button type="submit" class="btn">Login</button>
</form> --}}